%h1
  マイページ

%div.panel.panel-primary.user-info
  %div.user-names.panel-heading
    %span.profile-image.pull-left
      = image_tag @user.image.url ,class: "profile-image"
    %span.lead
      = @user.name
    %span.small
      = "@" + @user.nickname.strip
    - if(@user.provider)
      %br
      %span.small
        = t(:loggedin_by) + " " + @user.provider
  %div.panel-body.description:desc
    = t :description
    %br
    = @user.description
%h4
  = t :attend_event
= render partial: "events", locals: {events: @user.atend_events}
%h4
  = t :waiting
= render partial: "events", locals: {events: @user.waiting_events}
%h4
  = t :absent_event
= render partial: "events", locals: {events: @user.absent_events}
%h4
  = t :own_event
= render partial: "events", locals: {events: @user.events}
