%h1
  マイページ

%ul.list-unstyled.user-info
  %li.user-names.container
    %span
      = image_tag @user.image.url
    %span.lead
      = @user.name
    %span.small
      = "@" + @user.nickname.strip
  %li
    自己紹介<br>
    = @user.description
%h4
  参加予定イベント
= render partial: "events", locals: {events: @user.atend_events}
%h4
  作成イベント
= render partial: "events", locals: {events: @user.events}
