%div.container.member-form-container
  = form_for @event do |f|
    %h2
      =  t :event_edit
    = render partial: "error_display", locals: {object: @event}
    .form-group
      = f.label :title, t(:title) , class: "control-label"
      = f.text_field :title, class: "form-control"
    .form-group
      = f.label :hold_at, t(:hold_at) , class: "control-label"
      = f.text_field :hold_at, data: { :date_format => 'YYYY/MM/DD hh:mm' }, :class => 'form-control datetimepicker', placeholder: 'YYYY/MM/DD hh:mm:ss'
    .form-group
      = f.label :capacity, t(:capacity) , class: "control-label"
      = f.number_field :capacity, class: "form-control", required: true, min:"0"
    .form-group
      = f.label :location, t(:location) , class: "control-label"
      = f.text_field :location, class: "form-control"
    .form-group
      = f.label :owner, t(:owner) , class: "control-label"
      = f.label :owner, t(:owner) , class: "control-label"
      = f.text_field :owner, class: "form-control"
    .form-group
      = f.label :description, t(:event_detail) , class: "control-label"
      = f.text_area :description, class: "form-control"
    = f.submit submit_btn, class: "btn btn-primary"
    .clear
