%h1 イベント一覧
= render partial: "layouts/header"
= render partial: "shared/flash_message", locals: {flash: flash}
= div_for @events, class: "list-group-item" do |t|
  %h4
    %span
      = link_to t.title, event_path(t)
      - if current_user == t.owner
        = link_to "編集", edit_event_path(t)
        = link_to "削除", event_path(t), method: :delete
    %p.time.pull-right
      = t.hold_at
      .clear
      %p
        = t.description
  %hr
