%h1 イベント一覧
= render partial: "layouts/header"
= div_for @events, class: "list-group-item" do |t|
  %h4
    %span
      = link_to t.title, event_path(t)
      = link_to "編集", edit_event_path(t)
    %p.time.pull-right
      = t.hold_at
      .clear
      %p
        = t.description
  %hr
