%h1
  = link_to "イベント詳細", root_path
  %span
  = link_to "編集", edit_event_path
  = link_to "削除", event_path, method: :delete

= render partial: "layouts/header"
= render partial: "shared/flash_message", locals: {flash: flash}
%div
  %p
    = "タイトル: " + @event.title
  %p
    = "日時: " + @event.hold_at.to_s
  %p
    = "人数: " + @event.capacity.to_s
  %p
    = "場所: " + @event.location
  %p
    = "主催者: " + @event.owner.name
  %p
    = "詳細: " + @event.description
  .clear
