%h1
  = t(:event_detail)

- if logged_in?
  %span
  - if current_user
    - if current_user.atendees.with_event(@event.id).first
      - if current_user.atendees.with_event(@event.id).first.atend_btn(@event) == "Atend"
        = link_to "Atend", atend_event_path(@event), class: "btn btn-primary"
      - elsif current_user.atendees.with_event(@event.id).first.atend_btn(@event) == "Absent"
        = link_to "Absent", absent_event_path(@event), class: "btn btn-danger"
      - elsif current_user.atendees.with_event(@event.id).first.atend_btn(@event) == "Join Wait List"
        = link_to "Join Wait List",wait_event_path(@event), class: "btn btn-info"
      - else
        = link_to "Cancel Waiting",absent_event_path(@event) ,class: "btn btn-info"
    - else
      - if @event.atendees.atends.count == @event.capacity
        = link_to "Join Wait List",wait_event_path(@event) ,class: "btn btn-info"
      - else
        = link_to "Atend", atend_event_path(@event), class: "btn btn-primary"

  = link_to "Edit", edit_event_path, class: "styled"
  = link_to "Destroy", event_path, class: "styled", method: :delete
%div.event-info
  %h2
    =  @event.title
  %p
    = t(:hold_at) + ":" + @event.hold_at.to_s
  %p
    = t(:capacity) + ":" + @event.atendees.waits_and_atends.count.to_s + "/" + @event.capacity.to_s
  %p
    = t(:location) + ":" + @event.location
  %p
    = t(:owner) + ":" + @event.owner
  %div
    = t(:event_detail)
    %br
  %div.well
    = @event.description
- if logged_in? && current_user.provider == "twitter"
  = render partial: "tweet"
%div#attendance
  = t :attendance
  = render partial: "members", locals: {members: @event.atendees.atends}
%div#waiting
  = t :waiting
  = render partial: "members", locals: {members: @event.atendees.waits}
%div#absence
  = t :absence
  = render partial: "members", locals: {members: @event.atendees.absents}
