%h1
  = link_to "イベント詳細", root_path

- if logged_in?
  %span
  = link_to "Edit", edit_event_path
  = link_to "Destroy", event_path, method: :delete
- if current_user
  %p
  - if current_user.atendees.with_event(@event.id).first
    - if current_user.atendees.with_event(@event.id).first.atend?
      = link_to "Absent", absent_event_path(@event)
    - else
      = link_to "Atend", atend_event_path(@event)
  - else
    = link_to "Atend", atend_event_path(@event)

= render partial: "layouts/header"
= render partial: "shared/flash_message", locals: {flash: flash}
%div
  %p
    = "タイトル: " + @event.title
  %p
    = "日時: " + @event.hold_at.to_s
  %p
    = "人数: " + @event.atendees.count.to_s + "/" + @event.capacity.to_s
  %p
    = "場所: " + @event.location
  %p
    = "主催者: " + @event.owner
  %p
    = "詳細: " + @event.description
  .clear
%div#attendance
  = "attendance"
  = render partial: "events/members", locals: {members: @event.atendees.atends}
%div#absence
  = "absence"
  = render partial: "events/members", locals: {members: @event.atendees.absents}
