- if events.empty?
  %div.list-group-item
    = t(:no_events)
%div.list-group.event-list
  = div_for events, class: "list-group-item" do |e|
    %div.lead
      = e.title
    %ul.list-unstyled
      %li
        = t(:hold_at) + ":"
        = e.hold_at
      %li
        = t(:location) + ":"
        = e.location
      %li
        = t(:owner) + ":"
        = e.owner
      %li
        = t(:capacity) + ":"
        = e.atendees.count.to_s + "/" + e.capacity.to_s
    = link_to "Show", event_path(e), class: "btn btn-primary pull-right"
    .clear
