%html
  %head
    %title
      fdfda
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/header"
    %div.container
      = render partial: "flash_message", locals: {flash: flash}
      = yield
    -# = render partial: "layouts/footer"
